Constraints on PCB layout

THERMAL:
DHD20140208: Temperature sensor (eg SHT21) must be below all main heat sources (reg, radio, AVR) and near a vent.

ELECTRICAL:
DHD20140208: DRC must complete without error/warning for iTEAD and PMS rules with only APPROVED-REV5.txt exceptions.
DHD20140208: Ensure ALL supply lines on normal thicker 'supply' net class.
DHD20140208: (Optional) Use thicker tracks (net class supplyfat) between USB/FTDI and 5V/0V screw terminals, and keep short and direct, as may be carrying relay current.

PHYSICAL:
DHD20140208: At least 6mm square area in corners must be kept clear to avoid snagging pillars.
DHD20140208: All components/pads must be at least 2mm from EDGE of PCB to avoid snagging box.
DHD20140208: (Minor, optional) Suggested terminal ordering of 5V | boiler out | 3V3 | GND (eg allows omitting terminals for first two for battery-powered rad unit, all for USB-powered).
MH20130205: Thickness of lid must match the thickness required by the dimensions of the rot. encoder.
MH20130205: Learn buttons far apart as possible but not so close to top or bottom that there's no room to place a thumb to pick the unit up.
MH20130205: FTDI needs clearance for tolerances in printing and connector ie a hole taller, wider than is obvious some FTDI are circuit boards.
MH20130205: Leave some clearance around SHT21 for soldering when all other items already in place (should help if it is in the corner).
MH20130205: Wires from terminal block must have a direct/reasonable path to the outside hole if terminal block not on board edge.

RADIO:
DHD20140216: Total antenna length must be kept correct (~87mm for 868MHz), board trace + wire.

COST:
DHD20140210: (Minor, optional) Vias at min 0.5mm and as few different sizes as possible

OTHER:
DHD20140208: Date, title, URL, licence URL and OW logo should be on board and readable.
 
